        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            margin-bottom: 20px;
        }
        .underline {
            text-decoration: underline;
        }
        .bold {
            font-weight: bold;
        }
        .logo {
            max-width: 100px;
        }
        .header {
            font-weight: bold;
        }
        .title-container {
            margin-left: 20px;
        }
                .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #888;
        }
        .voter-info {
            margin-left: 20px;
            padding: 20px;
        }

        .voter-regis{
            margin-left: 20px;
            padding: 20px;
        }